<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User by ID</title>
    <style>
        body {
            background-color: darkslategray;
            color: white;
            text-align: center;
            font-family: Arial, sans-serif;
        }

        table {
            margin-left: 2cm;
            margin-top: 2cm;
            width: 60%;
        }

        input {
            margin-left: 3cm;
            margin-top: 2cm;
        }

        button {
            margin-left: 3cm;
            margin-top: 1cm;
            display: block;
        }
    </style>
</head>
<body>

<h1> Start admin page!!!</h1>

<div>

        <a href="/admin/info"><h3>Show users info!!</h3></a>
    </div>

</div>


<div>
    <form th:action="@{/logout}" th:method="POST">
        <input style="margin-right: auto" type="submit" value="Logout">
    </form>

</div>



</body>
</html>